---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
	<main>
		<header>
			<div class="border rounded-md bg-blue-800 border-light-400">
				<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
			</div>
		</header>

		<article class="mt-5">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius deleniti distinctio vero eos ea modi enim eaque nam quia ullam suscipit numquam, laborum quidem libero ipsum aliquid magni iste omnis mollitia debitis cum culpa perferendis blanditiis velit! Omnis saepe culpa alias aliquam ratione facilis amet dolorum in quos animi, officiis cumque at enim repudiandae iusto deleniti similique accusamus quae iure, blanditiis sint, rerum labore molestias voluptate. Dolores ipsum veritatis recusandae, labore, dolorum eos perferendis totam mollitia commodi sint error quas, quod vel enim provident. Rerum aliquid tempore rem nobis delectus beatae non totam ea. Nostrum fugit eius reprehenderit ea iste?</p>
		</article>

	</main>
</BaseLayout>